@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
  --color-primary: #2469eb;
  --color-background-light: #f8f9fc;
  --color-background-dark: #111621;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-display min-h-screen flex;
  }
}

.dark body {
  @apply bg-background-dark text-slate-100;
}
